*, *::before, *::after{
    box-sizing:border-box;
}
body{
    margin: 0;
    width: 100%;
    /* padding: 2rem 4rem; */
}
#wrapper{
    width: 70%;
    margin: 0 auto;
}
.my-slider{
    border: 1px solid black;
}
img{
    width: 100%;
}