@import url('https://fonts.googleapis.com/css?family=Rajdhani');
*, *::before, *::after{
    box-sizing:border-box;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Rajdhani', sans-serif;
}
img{
    height: 100%;
}
a{
    text-decoration: none;
    color: #444;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

nav > a{
    margin: 0 1rem;
    transition: color 0.3s ease-in-out;
}
nav > a:hover{
    color: #ccc;
}
header{
    margin: auto 3rem;
    height: 7rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
main{
    display: flex;
    justify-items: stretch;
    flex-direction: column;
    flex: 1;
}
h1, span{
    font-size: 1.2rem;
    display: inline;
}
h1{
    letter-spacing: 5px;
    color: #444;
}
span{
    font-weight: 300;
    color: #888;
}
footer{
    font-size: 0.7rem;
    color: #ccc;
    text-align: right;
    margin-right: 3rem;
}
.contact{
    text-align: center;
    height: 25rem;
    display: grid;  
}
.contact section{
    margin: auto;

}


/* Slideshow container */
.workContainer {
    max-width: 1000px;
    position: relative;
    margin: auto;
    height: auto;
  }
  .workContainer .slides img {
    object-fit: contain;
    width: 100%;
    height: 60vh;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #ccc;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Caption text */
  .caption {
    color: #777;
    font-size: 15px;
    padding: 8px 12px;
    /* position: absolute; */
    /* bottom: -40px; */
    width: 100%;
    text-align: center;
  }
  
  .caption::before{
      content:"[ ";
  }
  .caption::after{
    content:" ]";
}
  /* The dots/bullets/indicators */
  .dotsContainer {
    text-align: center;
    width: 100%;
   
  }
  .dotsContainer--dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active,
  .dotsContainer--dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  